<div class="navbar bg-primary text-primary-content">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">Crypto Tracker</a>
  </div>
  <div class="flex-none gap-2">
    <!-- <div class="form-control">
      <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
    </div> -->

    <a routerLink="currencies" class="btn btn-ghost normal-case">Currencies</a>
    <a routerLink="favorites" class="btn btn-ghost normal-case">Favorites</a>
  </div>
</div>

<router-outlet></router-outlet>