<div class="container mx-auto">
  <div *ngIf="coinsLoading" class="w-full min-h-screen flex justify-center items-center">
    <span class="loading loading-spinner text-secondary loading-lg"></span>
  </div>

  <div *ngIf="!coinsLoading" class="flex py-1 content-center justify-center">
    <input [(ngModel)]="searchTerm" (ngModelChange)="filter()" placeholder="Search Crypto"
      class="input input-bordered w-full max-w-xs xl:max-w-lg my-2">
  </div>
  <div *ngIf="!coinsLoading" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-2">
    <div
      [ngClass]="item.favorite ? 'card bg-amber-200 text-slate-800 shadow-xl' : 'card border-indigo-300 border-2 shadow-xl'"
      *ngFor="let item of filteredList">
      <div class="card-body">
        <h2 class="card-title">{{ item.asset_id }}</h2>
        <p>{{ item.name }}</p>
        <div *ngIf="item.rates && item.favorite" class="my-2">
          <div class="my-1">
            <p *ngFor="let curr of item.rates">
              <span class="badge badge-secondary">{{curr.asset_id_quote}}</span> : {{ curr.rate }}
            </p>
          </div>
        </div>
        <div *ngIf="!item.favorite" class="card-actions justify-end">
          <button class="btn btn-outline" (click)="markAsFavorite(item.asset_id)">Mark as Favorite</button>
        </div>
      </div>
    </div>
  </div>
</div>